

<div class="uk-section">
  <div class="uk-container uk-container-large">
    <article class="uk-comment" ng-repeat="post in posts">
      <header class="uk-comment-header " uk-grid>
        <div class="uk-width-1-4">
          <div class="advert-thumbnail-color" > 
            <div class="advert-thumbnail" style="background: url([[ post.ID | thumbnail_url ]])">
            </div>
          </div>
        </div>
        <div class="uk-width-3-4">
          <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" ng-href="#/advert/[[ post.ID ]]">[[ post.post_title ]]</a></h4>
          <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
            <li><a href="#">[[ post.categorie.name ]]</a></li>
            <li><a href="#">[[ post.adress[0] ]]</a></li>
          </ul>
          <p ng-bind-html="[[ post.post_excerpt ]]" class="uk-margin-remove" style="font-weight: 300"></p>
          <h4 class="uk-h4 uk-margin-remove-top  uk-comment-title">[[ post.price | currency ]] Ar</h4>
          <span class="uk-badge item-date">[[ post.post_date | postDate ]]</span>
        </div>
        <div class="uk-divider-small"> </div>
      </header>
    </article>
  </div>
</div>
