.input-text, input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], textarea{
    box-shadow: none !important;
}

a.event.dashicons-before{
  cursor: pointer;
  color: #FFFFFF;
}

div.pic-editor{
  position: absolute;
  display: inline-block;
  background-color:rgba(61, 156, 210, 0.78);
  padding-top: 5px;
}
.dashicons, .dashicons-before:before{
      font-size: 17px !important;
      padding-right: 5px;
      padding-left: 5px;
}

a.event.dashicons-before:hover{
  color: white;
}

.advert-pic.active img{
  padding: 3px;
  background: #3d9cd2;
}

table {
  margin: inherit;
  width: initial;
}
