<style type="text/css">
  md-list-item .avatar {
    border-radius: 0 !important;
    width: 30%;
    height: inherit;
    margin-right: 20px;
  }

  .item-price {
    font-size: 2rem;
    color: #f56b2a;
  }

  .item-title {
    color: #3873bd;
  }

  .item-adress {
    padding-bottom: 14px;
  }

  .item-date {
    position: absolute;
    bottom: 0;
    right: 20px;
    background: #11a4f7;
    color: aliceblue !important;
    padding-left: 15px;
    padding-right: 15px;
  }
</style>
<div ng-app="AdvertApp" ng-controller="AdvertController" ng-cloak>
  <div ng-view></div>
</div>