<style type="text/css">
    .input-text, input[type=text],
    input[type=email], input[type=url],
    input[type=password], input[type=search], textarea {
        box-shadow: inset 0 -1px 0px rgba(0,0,0,.125) !important;
    }
    md-input-container{
        margin : 0 !important;
    }
</style>

<form name="{{form_id}}" id="{{form_id}}" action="{{action}}" method="post" ng-app="LoginAdvertApp" ng-controller="LoginAdvertCtrl as lfc"
        style="width:80%; margin: auto; padding: 37px 10px 42px 10px;">
    {{login_form_top}}
    <md-toolbar class="md-theme-light" style="width: 40%; margin: auto">
        <h2 class="md-toolbar-tools">
          <span style="color: aliceblue; text-transform: uppercase; letter-spacing: 2px;">Login</span>
        </h2>
      </md-toolbar>
    {% if login_fail is not null %}
    <div layout-gt-sm="row" layout-align="center center">
        <div class="uk-alert-warning" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <h3></h3>
            <p> {{login_fail|raw}} </p>
        </div>
    </div>
    {% endif %}
    <div class="uk-padding"></div>

    <div layout="column" layout-align="center center">
        <md-input-container class="md-block" flex="50" >
            <label>{{label_username}}</label>
            <input ng-cust required type="text" name="log" value="{{value_username}}" >
        </md-input-container>
    </div>
    <div layout="column" layout-align="center center">
        <md-input-container class="md-block" flex="50" >
            <label>{{label_password}}</label>
            <input ng-cust required  type="password"  name="pwd" value="">
        </md-input-container>
    </div>
    {{login_form_middle}}
    {% if remember %}
        <div layout="column" layout-align="center center">
            <md-input-container class="md-block">
                <md-checkbox name="rememberme" value="forever" {%if value_remember %} ng-checked="true" {% endif %} >
                {{label_remember}}
                </md-checkbox>
            </md-input-container>
        </div>
    {% endif %}
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button type="submit" name="wp-submit"  class="md-raised md-primary">{{label_log_in}}</md-button>
        <input type="hidden" name="redirect_to" value="{{redirect}}" />

    </section>
    <div layout="row" layout-align="center center">
        <span style="display: block;">Vous n'avez pas de compte?</span>
        <md-button style="display: block" class="md-primary" ng-href="{{register_link}}">Crée un compte</md-button>
    </div>
    {{login_form_bottom}}
</form>